// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.formatted_articulo {
  background-color: whitesmoke;
  border-bottom-style: solid;
  border-color: gray;

  #fecha{
    color: gray;
    font-style: italic;
    font-size: 85%;
    text-align: right;
  }

  #titulo{
    margin-top: -20px;
    margin-bottom: -10px;
    font-size: 170%;
    font-weight: bold;
  } 

  #autor, #leermas, #hits{
    color: gray;
    font-style: italic;
    font-size: 85%;
    text-align: left;
  }

  #acciones{
    font-size: 85%;
    text-align: right;
  }

  #categorias{
    margin-bottom: -20px;
    color: gray;
    font-style: bold;
    font-size: 85%;
    text-align: left;
  }

  #comentador {
    font-style: italic;
    font-weight: bold;
    margin-left: 20px;		
    margin-top: 0px;
    margin-bottom: 0px;
  }

  #comentario {
    font-style: italic;
    margin-left: 20px;		
    margin-top: 0px;
    margin-bottom: 0px;
  }


}

.autor_nav {
  font-size: 90%;
  text-align: right;
}
